
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Ayush Sevak and I am from Anand, Gujarat. After studying a little about programming and web development upto grade 12 I decided to study in depth about computer programming and web development. Thats why I am pursuing computer programming course in Seneca.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
        </aside>
      </div>
    
